*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.all{
    display:flex;
    gap: 20px;
}

.all2{
    display: flex;
    gap: 20px;
}

.sub1{
    background-color: blue;
    padding: 30px;
    border: 2px solid black;
    position: relative;
}

.sub11{
    position: absolute;
    background-color: antiquewhite;
    border: 2px solid black;
    top: 0;
    right: 0;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub2{
    background-color: blue;
    padding: 30px;
    border: 2px solid black;
    position: relative;
}

.sub22{
    position: absolute;
    background-color: brown;
    border: 2px solid black;
    top: 0;
    right: 0;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub3{
    background-color: blue;
    padding: 30px;
    border: 2px solid black;
    position: relative;

}

.sub33{
    position: absolute;
    background-color: burlywood;
    border: 2px solid black;
    top: 0;
    right: 0;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 767px){
    .all{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .all2{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}


@media only screen and (max-width: 991px) and (min-width: 768px){
    .all{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .all2{
        gap: 30px;
    }
}